include README.md
include license.txt
include *.md
recursive-include wafd_one *.json *.py *.js *.css *.html *.svg *.png *.jpg *.jpeg *.txt
recursive-exclude wafd_one __pycache__ *
recursive-exclude wafd_one *.pyc

recursive-include wafd_one/data_templates *.csv
recursive-include wafd_one/reference_data *.csv

include RELEASE_NOTES_5.6.0.md
